@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
 

  :root  {
    --background: 272 5% 94%;
    --foreground: 272 5% 10%;
    --card: 272 5% 96%;
    --card-foreground: 272 5% 15%;
    --popover: 272 5% 95%;
    --popover-foreground: 272 95% 10%;
    --primary: 272 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 272 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 234 10% 85%;
    --muted-foreground: 272 5% 40%;
    --accent: 234 10% 80%;
    --accent-foreground: 272 5% 15%;
    --destructive: 0 50% 40%;
    --destructive-foreground: 272 5% 90%;
    --border: 272 15% 62%;
    --input: 272 15% 50%;
    --ring: 272 0% 70%;
    --radius: 0.75rem;
  }
  .dark  {
    --background: 272 10% 10%;
    --foreground: 272 5% 90%;
    --card: 272 5% 10%;
    --card-foreground: 272 5% 90%;
    --popover: 272 10% 5%;
    --popover-foreground: 272 5% 90%;
    --primary: 272 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 272 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 234 10% 25%;
    --muted-foreground: 272 5% 62%;
    --accent: 234 10% 25%;
    --accent-foreground: 272 5% 90%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 272 5% 90%;
    --border: 272 20% 50%;
    --input: 272 20% 50%;
    --ring: 272 0% 100%;
    --radius: 0.75rem;
  }
}





@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}